%p#notice= notice
%h1 Todos
%table
  %thead
    %tr
      %th Content
      %th Priority
      %th Limit
      %th{:colspan => "3"}
  %tbody#item{"data-model_name": "todo.class.name.underscore", "data-update_url": "todo_sort_path(todo)"}
    - @todos.each do |todo|
      %tr
        %td= todo.content
        %td= todo.priority
        %td= todo.limit
        %td= link_to 'Show', todo
        %td= link_to 'Edit', edit_todo_path(todo)
        %td= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Todo', new_todo_path
